{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "graphql",
          "jsx",
          "tsx",
          "ts",
          "shell"
        ],
        "plugins": [
          "line-numbers",
          "show-language",
          "copy-to-clipboard",
          "match-braces",
          "autoloader"
        ],
        "theme": "okaidia",
        "css": true
      }
    ]
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
